* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    
}

.fa-lightbulb-o {
    margin-top: 5%;
    color: black;
    padding: 100px;
    border-radius: 50%;
}

p {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    margin-top: 20px;
}
